.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
<<<<<<< HEAD
  padding: 40px 12px;
  font-family: 'Comic Neue', cursive;
  .name {
    font-size: 27px;
    margin-bottom: 8px;
  }
  .ig {
    margin-bottom: 8px;
  }
  .date {
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    color: #666666;
  }
  .button {
    margin-top: 18px;
    min-width: 80%;
  }
=======
  padding: 120px 12px;
  font-family: 'Comic Neue', cursive;
>>>>>>> 575ff04f8f7e4600b3c6b65a2b1d68d758b779cf
}

.price {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 24px;
}

<<<<<<< HEAD
button {
=======
a {
>>>>>>> 575ff04f8f7e4600b3c6b65a2b1d68d758b779cf
  color: #ffffff !important;
}