<app-toolbar></app-toolbar>
<div class="block">
  <div class="b-title">Prep Instructions</div>
  <div class="b-info">
    1. Complete all other beauty services prior to your appointment. (Pedicures, manicures, massages, waxing/laser hair removal, facials, etc.)
  </div>
  <!-- <div class="b-sub-title">Who is LensWindow for?</div> -->
  <div class="b-info">
    2. Shower with a gel-based body wash, shave any unwanted body hair and exfoliate thoroughly at least 4 hours prior to your appointment. If you can only shower right before your appointment, finish with a cold rinse to close up pores. Do not use any Dove products!
  </div>
  <!-- <div class="b-sub-title">Wait, what does it even do?</div> -->
  <div class="b-info">
    3. Arrive to your appointment free of any deodorant, perfume, moisturizers, oils, or makeup as these products will act as a barrier between your tan and your skin.
  </div>
  <!-- <div class="b-sub-title">Why should I care?</div> -->
  <div class="b-info">
    4. Wear dark, loose clothing, and open toed sandals to your appointment. No denim, yoga pants, bras, etc. Please note that the bronzer in the solution may transfer to your items, but is water soluble and will wash out.
  </div>
  <div class="b-info">
    5. Women may tan however they feel most comfortable. Men must wear undergarments. 
  </div>
</div>
<footer></footer>
