<app-toolbar></app-toolbar>
<div class="block">
  <div class="b-title">Please follow these prep instructions prior to your appointment:</div>
  <div class="b-info">
    1. Complete all other beauty services prior to your appointment. (Pedicures, manicures, massages, waxing/laser hair removal, facials, etc.) 💅🏽
  </div>
  <!-- <div class="b-sub-title">Who is LensWindow for?</div> -->
  <div class="b-info">
    2. Shower with a gel-based body wash, shave any unwanted body hair and exfoliate thoroughly at least 4 hours prior to your appointment. If you can only shower right before your appointment, finish with a cold rinse to close up pores. Do not use any Dove products or body wash that contains extra moisturizers. 🧼 
  </div>
  <!-- <div class="b-sub-title">Wait, what does it even do?</div> -->
  <div class="b-info">
    3. Arrive to your appointment free of any deodorant, perfume, moisturizers, oils, or  makeup💄as these products will act as a barrier between your tan and your skin.
  </div>
  <!-- <div class="b-sub-title">Why should I care?</div> -->
  <div class="b-info">
    4. Wear dark, loose clothing, and open toed sandals to your appointment. No denim, yoga pants, bras, etc. Please note that the bronzer in the solution may transfer to your items, but is water soluble 💦 and will wash out.
  </div>
  <div class="b-info">
    5. Women may tan however they feel most comfortable. Men must wear undergarments. Disposable underwear available upon request 
  </div>
  <div class="b-info">
    Please note: You will not be able to get wet for 8-12 hours after a classic tan. Rapid tans can be rinsed off after 2-4 hours depending how dark you would like your tan. 
  </div>
  <div class="b-info">
    Classic Tans - $25 <br>
    Rapid Tans - $35 <br>
    Partial Tans - $12   
  </div>
  <div class="b-info">
    ***Failure to follow prep instructions may cause splotching, streaking, and/or discoloration.***
  </div>
  <div class="b-info">
    Please let me know if you have any questions! 🖤 
  </div>
</div>
<footer></footer>