<app-toolbar></app-toolbar>
<div class="hwindow" id="scroll">
  <div class="background" [@fadeIn]>
    <div class="body">
      <div class="block b-card">
        <div class="b-title">Common Questions</div>
        <div class="b-sub-title">
          Tips to really make this work, coming from an OD:
        </div>
        <div class="b-info">
          As a patient, it can be quite complicated and confusing to keep track
          of everything when it comes to contacts, and I would never expect ANY
          patient to know how they can get the best value. Most automatically
          assume they can find them cheaper online, from 1-800 or from a big box
          store. Unless you have your contact lens pricing sky high, this is
          simply not true.
          <br /><br />
          You are the doctor. Eye health has to remain top priority. A daily
          lens should be worn once, a 2-week lens for 2 weeks, and a monthly for
          a month, no matter what their previous eye care provider has told them
          or what they think their eyes can tolerate.
          <br /><br />
          Start in the exam room. Don't be pushy but be transparent with the
          cost and what to expect, and now you can physically show the dollar
          value of purchasing a year supply of contact lenses from your
          practice. Show them how you can maximize their vision plan benefit
          coupled with the higher manufacturer rebates and truly HOW
          IN-EXPENSIVE IT IS FOR A FULL YEAR SUPPLY!
          <br /><br />
          Patients often remark they have always assumed they would need to take
          out a small loan to afford to wear daily disposable lenses, but are
          pleasantly surprised to see that is not the case.
          <br /><br />
          You are automatically creating confusion when you or your staff ask
          “How many boxes of contacts do you want?” Keep in mind, everyone wins
          when your patients get a year supply of contacts from you.
          <br /><br />
          OUR GOAL AS A COMPANY IS TO GET RID OF THE CONTACT LENS HEADACHE YOU
          CURRENTLY HAVE IN YOUR PRACTICE. Show your patients you are looking
          out for the best interest of their eye health AND wallet.
        </div>
        <div class="b-sub-title">Who is LensWindow for?</div>
        <div class="b-info">
          Private practice optometrists or optometry/ophthalmology group
          settings that prescribe and sell contact lenses.
        </div>
        <div class="b-sub-title">Wait, what does it even do?</div>
        <div class="b-info">
          LensWindow is a customizable contact lens database tool that easily
          combines your unique practice pricing, manufacturer rebate amounts,
          and vision insurance/plan benefit in an easy to understand quote that
          can be printed off or sent (.pdf form) via email to your patients.
          <a routerLink="/home" fragment="quote">See example here</a>.
        </div>
        <div class="b-sub-title">Why should I care?</div>
        <div class="b-info">
          If you are OK with most or all your patients leaving your clinic to go
          buy contacts elsewhere, you shouldn't. If you are interested in having
          them buy them from your practice, but haven't been doing a good job of
          it, or just want to take your contact lens practice to the next level,
          you have come to the right place.
        </div>
        <div class="b-sub-title">
          How can I implement this in my busy practice when I don't have time
          for something new?
        </div>
        <div class="b-info">
          When you sign up, the default lens database will be filled with the
          lenses most of us already prescribe and recommend. Someone you already
          pay within the walls of your practice knows how much you charge per
          box. Have them update your pricing in the software, and off you go. We
          recommend adding a Lenswindow icon to the toolbar or desktop shortcut
          in every exam room and every staff work station so the whole team can
          get to your pricing with a single click.
        </div>
        <div class="b-sub-title">
          Do I have to do a lengthy staff training when I sign up?
        </div>
        <div class="b-info">
          Absolutely not. The beauty of this software is the simplicity of it.
          After originally setting your practice pricing and manufacturer rebate
          amounts:
          <ol>
            <li>Click on the manufacturer from the Quick Search icon</li>
            <li>Click on the lens</li>
            <li>Add in vision insurance contribution if applicable</li>
          </ol>
          And thats it! You have a price break-down with your logo, letterhead,
          and contact information.
        </div>
        <div class="b-sub-title">What if I want to change my lens pricing?</div>
        <div class="b-info">
          Manufacturer programs and their cost to you may vary from time to
          time. With the Edit Lens feature, you are in control. We recommend
          having someone from your office do an audit once per quarter to make
          sure you are up to date. IF YOU CHANGE THE PRICE FROM ONE WORKSTATION,
          IT WILL AUTOMATICALLY UPDATE ON THE REST.
        </div>
        <div class="b-sub-title">
          What if the manufacturers change their rebate amounts?
        </div>
        <div class="b-info">
          Ah yes, probably the single most frustrating game in the industry.
          Nothing like carrying inventory for the “price lock-in program” just
          to have the rug pulled out from under you when rebate amounts get cut
          in half or disappear completely. You will find and can change the
          rebate amounts under the Edit Lens feature (same place as pricing).
        </div>
        <div class="b-sub-title">What if a new lens comes to market?</div>
        <div class="b-info">
          Chances are, as a private-practice owner that does a ton of contact
          lens volume, contact lens reps want YOU to have the first fitting sets
          so you can get them on your patients eyes. We will keep up to date on
          the big 4 (Alcon, B&L, Johnson &Johnson, Coopervision) as best we can.
          If we aren't quick enough, the Add a Lens feature will allow you to
          get the new lens into your practice database on your own.
        </div>
        <div class="b-sub-title">
          If I have feedback and want you to change something on the print out
          to accommodate how we already talk to patients about contacts, is that
          an option?
        </div>
        <div class="b-info">
          This is a great question. The quote is designed the way it is BECAUSE
          IT WORKS, and we highly recommend adjusting the way you talk to
          patients rather than have us adjust the format. That being said, we
          will do our best as long as it is within reason. It's also worth
          exploring what's already available for modification on the quote.
          Custom text can be added to the bottom half and industry terms can be
          modified.
        </div>
      </div>
    </div>
  </div>
</div>
<footer></footer>
