<div id="footer">
  <div class="img-box">
    <img
      routerLink="/home"
      src="/assets/swec.png"
      alt="South West Electric and Construction logo"
    />
  </div>
  <ul>
    <li><a>Company</a></li>
    <!-- <li><a routerLink="/prep">Prep Instructions</a></li>
    <li><a routerLink="/post">Aftercare Instructions</a></li>
    <li><a routerLink="/pricing">Pricing</a></li> -->
    <li><a routerLink="/reviews">Reviews</a></li>
    <li><a routerLink="/about">About Us</a></li>
  </ul>
</div>
<div id="sash">
  <span class="usa">
    <img src="/assets/flag.png" alt="USA Flag" />
    South West Electric and Construction, LLC. 2024
  </span>
  <span>Southwesteandc@gmail.com</span>
  <span>(435) 632-2009</span>
</div>
