<div id="footer">
  <div class="img-box">
    <img
      routerLink="/home"
      src="/assets/kokomoLogo.png"
      alt="Kokomo logo"
    />
  </div>
  <ul>
    <li><a>Company</a></li>
    <li><a routerLink="/about">About Us</a></li>
    <li><a routerLink="/reviews">Reviews</a></li>
    <li><a routerLink="/pricing">Pricing</a></li>
  </ul>
</div>
<div id="sash">
  <span class="usa">
    <img src="/assets/flag.png" alt="USA Flag" />
    Kokomo Spray Tans, LLC. 2021
  </span>
  <span>madisonkm613@gmail.com</span>
  <span>(559) 977-3538</span>
</div>
