<app-toolbar></app-toolbar>
<div class="background">
  <!-- <img class="b-icon-img" src="/assets/kokomoLogo.png" alt="Kokomo logo" /> -->
  <div class="b-title title">About Me</div>
  <div class="b-text">
    Hey! I'm Madison. It has been a long-time dream of mine to open my own Spray Tan Studio. After buying my first home with my husband and dog, I finally had room to set up a 
    studio and learn how to spray. I have always believed that running a business is more than just customers and profits, and I hope that we can all become friends along the way.
    I love what I do and I love to see the glowing smile on peoples faces after they get a beautiful tan. Book an appointment today, and come see what I'm all about here at Kokomo Spray Tans!
  </div>
  <div class="block b-card">
    <div id="selfies">
      <div class="self-block">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/kokomo-sprays.appspot.com/o/public%2Fassets%2Fmadi.jpg?alt=media&token=c70aef9c-83f1-4d0e-afef-c33092974d52"
          alt="Madison headshot"
        />
        <div class="info">
          <strong>Madison - </strong> Spray Tan Artist
        </div>
      </div>
    </div>
  </div>
</div>
<footer></footer>
