<app-toolbar></app-toolbar>
<div class="background">
  <!-- <img class="b-icon-img" src="/assets/companyLogo.png" alt="company logo" /> -->
  <div class="b-title title">About Us</div>
  <div class="b-text">
    Welcome to South West Electric and Construction! 
    We're a dedicated team of professionals specializing in electrical services and construction. 
    With years of experience in the industry, we've built our reputation on quality workmanship, reliability, and customer satisfaction. 
    From residential wiring to commercial construction projects, we have the expertise to handle it all. 
    Our mission is to provide top-notch electrical and construction solutions that meet and exceed our clients' expectations. 
    Let us bring your projects to life with our skilled craftsmanship and attention to detail.
  </div>
  <div class="block b-card">
    <div id="team">
      <div class="team-block">
        <img
          src="/assets/swec.png"
          alt="Team photo"
        />
        <div class="info">
          <strong>Our Team - </strong> Experienced Electricians and Builders
        </div>
      </div>
    </div>
  </div>
</div>
<footer></footer>
