.section {
  margin-top: 40px;
}
.year {
  font-size: 30px;
  text-align: left;
  margin: 12px;
  font-weight: bold;
  text-decoration: underline;
}
.stat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 12px;
  .name {
    font-size: 19px;
  }
  .value {
    font-size: 32px;
    color: #212121;
  }
}
.total {
  border-top: 1px double;
  margin-top: 12px;
}