<app-toolbar></app-toolbar>
<div class="background" *ngIf="appointments.length > 0; sorry">
  <div class="name">{{appointments[0]?.name}}</div>
  <div class="ig" *ngIf="appointments[0]?.number">phone: {{appointments[0]?.number}}</div>
  <div class="stat"> 
    <div class="s">{{appointments.length}} visit{{appointments.length !== 1 ? 's' : ''}}</div>
    <div class="s">{{totalSales | currency}}</div>
  </div>
  <button class="button" mat-raised-button color="primary" (click)="contact()">text {{appointments[0]?.name}}</button>
  <div class="header">Appointments</div>
  <ng-container *ngFor="let appointment of appointments; let i = index">
    <div class="appointment">
      <div class="date">{{appointment?.appointment?.toDate() | date: 'medium'}}</div>
      <div class="money">{{appointment.confirm ? (appointment.paid | currency) : 'upcoming'}}</div>
      <div class="note" *ngIf="appointment.note">{{appointment?.note}}</div>
    </div>
  </ng-container>
</div>
<ng-template #sorry>
  <div class="background">
    Something is terribly terribly wrong here...    
  </div> 
</ng-template>
<div style="height: 40vh;"></div>
<footer></footer>
