h1 {
  text-align: center;
}
h4 {
  padding: 8px;
  box-sizing: border-box;
  margin: 12px 0;
  max-width: 800px;
  margin: auto;
}
.photos {
  width: 100vw;
  display: flex;
<<<<<<< HEAD
  flex-wrap: wrap;
=======
>>>>>>> 575ff04f8f7e4600b3c6b65a2b1d68d758b779cf
  left: 0;
  justify-content: center;
  .photo {
    position: relative;
    height: 45vw;
    width: 45vw;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 400ms;
    overflow: hidden;
  }
}