<app-toolbar></app-toolbar>
<div class="background">
    <div class="price">PRICING</div>
    <table>
      <tr>
        <td>CLASSIC TAN:</td>
        <td>$25</td>
      </tr>
      <tr>
        <td>RAPID TAN:</td>
        <td>$35</td>
      </tr>
      <tr>
        <td>PARTIAL TAN:</td>
        <td>$12</td>
      </tr>
      <tr>
        <td>HEMPZ LOTION 17oz:</td>
        <td>$15</td>
      </tr>
      <tr>
        <td>MINI HEMPZ LOTION:</td>
        <td>$5</td>
      </tr>
    </table>
</div>
<div style="height: 40vh;"></div>
<footer></footer>
