<app-toolbar></app-toolbar>
<div class="block">
  <div class="b-title">Aftercare Instructions</div>
  <div class="b-info">
    1. Avoid moisture until your initial rinse. This means no showers, working out, lotions, or liquid foundations on this skin. Stay in a cool place to avoid any sweating. If you have pets, do not let them lick you! 🐩 
  </div>
  <!-- <div class="b-sub-title">Who is LensWindow for?</div> -->
  <div class="b-info">
    2. If you got a classic tan rinse in 8-12 hours. If you got a rapid tan rinse in 2-4 hours depending on your desired darkened level. Do not over process. Rinse with lukewarm water and do not use any product/soap. 🚿 You will see the bronzer wash down the drain. Pat yourself dry, don’t rub. 
  </div>
  <!-- <div class="b-sub-title">Wait, what does it even do?</div> -->
  <div class="b-info">
    3. The classic tan will be fully developed post rinse and you may moisturizer after. The rapid will take and additional 12-24 hours to fully develop post rinse. If you received a rapid then wait until the next day to moisturize after your tan has fully developed.
  </div>
  <!-- <div class="b-sub-title">Why should I care?</div> -->
  <div class="b-info">
    4. Apply moisturizer morning and night after full development of your tan that is free to mineral oil and alcohols. Hempz, Shea Moisturizer, CeraVe, Alba, and Cetaphil are a few tan friendly lotions! 
  </div>
  <div class="b-info">
    5. To preserve your tan avoid swimming, long hot showers/baths, saunas, and excessive sweating.
  </div>
  <div class="b-info">
    6. Do not exfoliate until your tan is at the tail end of its life.
  </div>
</div>
<footer></footer>