.background {
  background-color: white;
  width: 600px;
  max-width: calc(100vw - 16px);
  margin: auto;
  text-align: center;
  padding-bottom: 100px;
}

.header {
  position: sticky;
  top: 0;
  background: white;
  z-index: 100;
  height: 64px;
  border-bottom: 1px solid #666666;
  margin: 0 -8px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  span {
    margin-left: 8px;
  }
}

.contacts {
  position: absolute;
  top: 12px;
  right: 12px;
}

.day {
  .day-name {
    font-size: 28px;
    text-align: start;
    font-weight: bold;
    margin: 24px 0;
    cursor: pointer;
  }
  .blackout {
    color: red !important;
    opacity: .54;
    margin-left: 24px;
  }
  .block {
    padding: 12px 24px;
    box-sizing: border-box;
    border-top: 1px dashed #f0f0f0;
    display: flex;
    flex-wrap: wrap;
    .time-name {
      text-align: start;
      opacity: .87;
    }
  }
}
.appointment {
  min-width: 250px;
  margin-top: 12px;
  border: 1px solid;
  padding: 12px;
  border-radius: 8px;
  flex: 1;
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .a-name {
      font-size: 24px;
      font-weight: bold;
      cursor: pointer;
    }
  }
  mat-form-field {
    width: 100%;
    margin-top: 8px;
  }
}

.expense {
  width: 100%;
  margin-top: 12px;
  border: 1px solid;
  padding: 12px;
  border-radius: 8px;
  box-sizing: border-box;
  flex: 1;
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .e-img {
      height: 40px;
    }
  }
  mat-form-field {
    width: 100%;
    margin-top: 8px;
  }
}



.image-viewer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,.78);
  padding: 24px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .close {
    position: fixed;
    top: 12px;
    right: 12px;
    z-index: 102;
  }
  .more {
    position: absolute;
    top: 24px;
    right: 82px;
  }
}


.fab {
  position: fixed;
  bottom: 12px;
  right: 12px;
  border-radius: 50% !important;
  overflow: hidden;
}

.unpaid {
  color: red !important;
}


















.photos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .photo {
    position: relative;
    height: 40vw;
    width: 40vw;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    // outline: 1px solid rgba(0,0,0,.54);
    mat-spinner {
      position: absolute;
    }
    .img-btn {
      position: absolute;
      bottom: 8px;
      right: 8px;
      transition: all 400ms ease;
      background-color: rgba($color: #000000, $alpha: 0.5);
      color: white;
      border-radius: 24px !important;
    }
    
    .edit {
      transform: scale(1.1);
      z-index: 31;
      mat-icon {
        transition: transform 400ms ease;
      }
    }

    .edit.on mat-icon {
      transform: rotate(720deg);
    }

    .img-btn:nth-of-type(2) {
      opacity: 0;
      z-index: 30;
      transition: transform 200ms ease-in-out, opacity 200ms ease-in-out,
        background-color 300ms ease-in-out;
    }

    .img-btn:nth-of-type(2).visible {
      transform: translate3d(0, -45px, 0);
    }

    .img-btn:nth-of-type(3) {
      opacity: 0;
      z-index: 29;
      transition: transform 300ms ease-in-out, opacity 300ms ease-in-out,
        background-color 300ms ease-in-out;
    }

    .img-btn:nth-of-type(3).visible {
      transform: translate3d(0, -90px, 0);
    }

    .img-btn:nth-of-type(4) {
      opacity: 0;
      z-index: 28;
      transition: transform 400ms ease-in-out, opacity 400ms ease-in-out,
        background-color 300ms ease-in-out;
    }

    .img-btn:nth-of-type(4).visible {
      transform: translate3d(-90px, 0, 0);
    }

    .img-btn:nth-of-type(5) {
      opacity: 0;
      z-index: 28;
      transition: transform 400ms ease-in-out, opacity 400ms ease-in-out,
        background-color 300ms ease-in-out;
    }

    .img-btn:nth-of-type(5).visible {
      transform: translate3d(-45px, 0, 0);
    }

    .img-btn.visible {
      opacity: 1;
    }
    .add {
      border: 1px solid;
      border-radius: 24px;
      padding: 8px;
      color: #2a3755;
      cursor: pointer;
      display: flex;
      align-items: center;
      margin: 4px 0;
      mat-icon {
        margin-right: 4px;
      }
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: all 400ms;
      overflow: hidden;
    }
    .delete {
      cursor: pointer;
      position: absolute;
      color: #ffffff;
      background: red;
      top: 0;
      right: 0;
      border-bottom-left-radius: 17px;
      padding: 0 0 6px 3px;
      opacity: .54;
    }
    .rotate {
      cursor: pointer;
      position: absolute;
      background: #666666;
      opacity: .67;
      color: #ffffff;
      border-radius: 50%;
      padding: 8px;
    }
  }
}


.toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: white;
  z-index: 1000;
  border-top: 2px solid #666666;
  .tab {
    height: 34px;
    width: 40px;
    border: 1px solid #212121;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 750ms;
  }
  .active {
    background-color: #212121;
    color: #ffffff;
  }
  .mid {
    width: 60px;
    height: 60px;
    background: #7F626F;
    border-radius: 50px;
    margin-top: -64px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
}