<ng-container>
<div class="toolbar">
  <div class="title">Schedule an Appointment</div>
  <div style="flex:1"></div>
  <button (click)="view = 'info'" *ngIf="view != 'info'" class="flat-btn">back</button>
  <button (click)="close()" class="post-btn">close</button>
</div>

  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  <div class="view" [ngSwitch]="view">
    <ng-container *ngSwitchCase="'info'">
      <div class="tab-title">Contact me to schedule an appointment</div>
      <a href="tel:+1-435-632-2009" target="_blank"><button mat-raised-button style="color:white; margin:12px 0; min-width: 300px" color="primary">Call / Text</button></a>
      <!-- <button mat-raised-button (click)="message()" style="color:white; margin:12px 0; min-width: 300px" color="primary">Message On Instagram</button> -->
      <div class="tab-title">{{!isAdmin ? 'Or book an appointment online:' : 'Enter your clients info'}}</div>
      <mat-form-field appearance="outline" class="bt-btn">
        <mat-label>name</mat-label>
        <input matInput type="text" placeholder="Samantha Best" [(ngModel)]="name">
      </mat-form-field>
      <mat-form-field appearance="outline" class="bt-btn">
        <mat-label>phone number</mat-label>
        <input matInput type="tel" placeholder="8018458545" [(ngModel)]="number" (keyup.enter)="buildDays()">
      </mat-form-field>
      <button mat-raised-button color="primary" style="color:#ffffff; margin-top: 12px; width: 250px" class="bt-btn" (click)="buildDays()" [disabled]="!name || (!ig && !number) || (number && number.length < 10)">Next</button>
    </ng-container>
    <ng-container *ngSwitchCase="'date'">
      <div class="tab-title">When is/was the appointment?</div>
      <mat-form-field  class="bt-btn" appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="adminDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="time" [(ngModel)]="adminTime">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" [(ngModel)]="adminPaid">
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>
      <button mat-raised-button color="primary" style="color:#ffffff; margin-top: 12px; width: 250px" (click)="setDate()" [disabled]="!adminDate || !adminTime || !adminPaid">Next</button>
    </ng-container>
    <div *ngSwitchCase="'day'">
      <div class="tab-title">Select a day:</div>
      <mat-list *ngIf="days.length">
        <mat-list-item *ngFor="let day of days" (click)="setDay(day)">
          {{day | date: 'fullDate'}}
        </mat-list-item>
      </mat-list>
    </div>
    <div *ngSwitchCase="'time'">
      <div class="tab-title">Select a time:</div>
      <mat-list>
        <mat-list-item *ngFor="let time of times" (click)="setTime(time)">
          {{time | date: 'shortTime'}}
        </mat-list-item>
      </mat-list>
    </div>
    <ng-container *ngSwitchCase="'confirm'">
      <div class="tab-title">Does this look good?</div>
      <div class="tab-title">{{time | date: 'EEEE, MMM d, y, h:mm:ss a'}}</div>
      <div style="height: 100px;"></div>
      <button mat-stroked-button color="accent" (click)="back()" class="post-btn bt-btn">Start Over</button>
      <button mat-raised-button color="primary" style="color:#ffffff; margin-top: 12px;" (click)="setAppointment()" class="post-btn bt-btn">Confirm Appointment</button>
      
    </ng-container>
    <ng-container *ngSwitchCase="'done'">
      <div class="tab-title">We can't wait to see you!</div>
      <button mat-raised-button (click)="addToGoogleCalendar()" style="color:white" class="bt-btn" color="primary">Add to Google Calendar</button>
      <button mat-raised-button (click)="nav()" style="color:white; margin:12px 0" class="bt-btn" color="primary">Get Directions</button>
      <button mat-raised-button click="prep()" style="color:white; margin:12px 0" class="bt-btn" color="primary">See Prep Instructions</button>
      <button mat-stroked-button color="primary" (click)="close()" class="post-btn bt-btn">Close</button>
    </ng-container>
  </div>
  <div class="row" >
    
  </div>
  <!-- <iframe src="https://app.cal.com/swec" frameborder="0" allowfullscreen></iframe> -->
</ng-container>